<div class="container">
  <div class="row">
      <div class="col-12">
          <h1>Formula del IMC</h1>
      </div>
  </div>
 
  <div class="row">
    <div class="col-12">
    <p>El indice de masa corporal o IMC es un sencillo indice sobre la
      relacion entre el peso y la altura, generalmente utilizado para 
      clasificar el peso insuficiente, peso excesivo y la obesidad.
    </p>
    <p>Se calcula dividiendo el peso en kilogramos por el cuadrado 
      de la altura en metros.
    </p>
    </div>
  </div>
      
</div>

